{% extends 'base.html' %}

{% block title %} Shop Items {% endblock %}

{% block body %}
<div class="container my-5">
    {% if items | length < 1 %} <h3 class="text-center text-light">No Shop Items</h3>
        {% else %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for item in items %}
            <div class="col">
                <div class="card shadow-sm border-light rounded">
                    <img src="{{ item.product_picture }}" alt="Product Image" class="card-img-top"
                        style="height: 200px; width: 100%; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product_name }}</h5>
                        <p class="card-text"><strong>Previous Price:</strong> Ksh {{ item.previous_price }}</p>
                        <p class="card-text"><strong>Current Price:</strong> Ksh {{ item.current_price }}</p>
                        <p class="card-text"><strong>In Stock:</strong> {{ item.in_stock }}</p>
                        <p class="card-text"><strong>Flash Sale:</strong> {{ item.flash_sale }}</p>
                        <p class="card-text"><strong>Date Added:</strong> {{ item.date_added }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="/update-item/{{ item.id }}" class="btn btn-warning btn-sm">Update</a>
                        <a href="/delete-item/{{ item.id }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
</div>
{% endblock %}